<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>$(PIGEON_APP_NAME)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PIGEON_APP_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.developer-tools</string>
	<key>NSAppleEventsUsageDescription</key>
	<string>A program running within Pigeon would like to use AppleScript.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>A program running within Pigeon would like to access your Calendar.</string>
	<key>NSCameraUsageDescription</key>
	<string>A program running within Pigeon would like to use the camera.</string>
	<key>NSContactsUsageDescription</key>
	<string>A program running within Pigeon would like to access your Contacts.</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSLocalNetworkUsageDescription</key>
	<string>A program running within Pigeon would like to access the local network.</string>
	<key>NSLocationUsageDescription</key>
	<string>A program running within Pigeon would like to access your location.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>A program running within Pigeon would like to use your microphone.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>A program running within Pigeon would like to access your Photos.</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://github.com/ahpxex/pigeon/releases/latest/download/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>rNazB3r6n926/1wN4tyQ4uVCf4g1Te/pjY0OqGzSAZM=</string>
	<key>SUScheduledCheckInterval</key>
	<integer>86400</integer>
</dict>
</plist>
